/* Basic jQuery Slider essential styles */



ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none; /* z-index:999; */}

li.bjqs-slide{position:absolute; display:none;}

ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}

ul.bjqs-controls.v-centered li a{position:absolute;}

ul.bjqs-controls.v-centered li.bjqs-next a{right:-13px;}

ul.bjqs-controls.v-centered li.bjqs-prev a{left:-13px;}



.home ul.bjqs-controls.v-centered li.bjqs-next a {margin-top:10px; right: 15px;}

.home ul.bjqs-controls.v-centered li.bjqs-prev a{margin-top:10px; left: 15px;}



ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}

ol.bjqs-markers.h-centered{position:relative; text-align: left; z-index:9999; margin-top:-27px; padding-left:31px; }

ol.bjqs-markers li{display:inline;}

ol.bjqs-markers li a{

	display:inline-block;

	width:13px;

	height:13px;

	text-indent:-9999px;

	background:url(../images/bullet-off.png) top center no-repeat;

	margin-right:4px;	

	outline:none;

	cursor:pointer;

}



ol.bjqs-markers .active-marker a{

	background:url(../images/bullet-on.png) no-repeat;	

}



p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}



ul.bjqs-controls.v-centered li a{

	display:none;

}



.overview-inner1 #banner-slide,

.overview-inner1 ul.bjqs{

	max-height:360px !important;

}



ul.bjqs li{

	/* background:#fff000; */

}



li.bjqs-prev a{

	display:block;

	width:51px;

	height:88px;

	margin-left:15px;

	margin-top:-60px;

	background:url('../images/arrow_left.png') no-repeat;

	text-indent:-9999px;

	outline:none;

}



li.bjqs-next a{

	display:block;

	width:51px;

	height:88px;

	margin-right:15px;

	margin-top:-60px;	

	background:url('../images/arrow_right.png') no-repeat;

	text-indent:-9999px;

	outline:none;	

}





 

.overview-inner1 li.bjqs-prev a,

.overview-inner1 li.bjqs-next a{

	margin-top:60px !important;

}